# Entornos virtuales
venv/
profanity-filter-311/
*.pyc
__pycache__/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales de audio/video
*.wav
*.mp4
*.mov
*.avi
temp/

# Archivos de transcripción
*.txt
*.srt
*.vtt

# Archivos de logs
*.log
*.out

# Archivos de configuración local
.env
*.local